<h1> Great Job!</h1> 


<p>
  <strong>How long you practiced:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>How you felt:</strong>
  <%= @article.text %>
</p>

Keep it up!<p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'View Logs', articles_path %>